<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
    <div class="container">
  
      <a class="navbar-brand" routerLink="/books">الكاريكاتير</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">الرئيسية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">معرض الكاريكاتير</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">الفنانون</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">المدونة</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/">تواصل معنا</a>
              </li>
        </ul>
        <ul class="navbar-nav d-flex justify-content-center align-items-center"><!-- d-flex jsutify-content-center align-items-center-->
          <li class="nav-item">
            <a class="nav-link"  routerLink="/signup">انشاء حساب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">تسجيل الدخول</a>
          </li>
        </ul>
      </div>
  
    </div>
  </nav>
  