<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  <div class="container">
    <a class="navbar-brand" routerLink="/books">الكاريكاتير</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/caricature-gallery">معرض الكاريكاتير</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artists">الفنانون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">تواصل معنا</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">انشاء حساب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">تسجيل الدخول</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- 

<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  <div class="container">
    <a class="navbar-brand" routerLink="/caricature-gallery">الكاريكاتير</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/caricature-gallery">معرض الكاريكاتير</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artists">الفنانون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authors">المؤلفون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/characters">الشخصيات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">تواصل معنا</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">انشاء حساب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">تسجيل الدخول</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->







<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  <div class="container">
    <a class="navbar-brand" routerLink="/caricature-gallery" style="font-size: 1.5rem;">الكاريكاتير</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/caricature-gallery">معرض الكاريكاتير</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artists">الفنانون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authors">المؤلفون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/characters">الشخصيات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">تواصل معنا</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">انشاء حساب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">تسجيل الدخول</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->



<!--  
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


-->




















<!-- 55555555555555555555555 
<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  <div class="container">
    <a class="navbar-brand" routerLink="/caricature-gallery">الكاريكاتير</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/caricature-gallery" routerLinkActive="active">معرض الكاريكاتير</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artists" routerLinkActive="active">الفنانون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authors" routerLinkActive="active">المؤلفون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/characters" routerLinkActive="active">الشخصيات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">تواصل معنا</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">انشاء حساب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">تسجيل الدخول</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 55555555555555555555555 -->

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/caricature-gallery">
      <img src="https://i.imgur.com/pXjKbr2.png" alt="logo" class="mr-2 logo-image">
      <h1 class="h4 mb-0">الكاريكاتير</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/caricature-gallery" routerLinkActive="active">معرض الكاريكاتير</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artists" routerLinkActive="active">الفنانون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/authors" routerLinkActive="active">المؤلفون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/characters" routerLinkActive="active">الشخصيات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">تواصل معنا</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">انشاء حساب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">تسجيل الدخول</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->



<nav class="navbar navbar-expand-lg navbar-light bg-light" dir="rtl">
  <div class="container">
    <a class="navbar-brand" href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 36px; font-weight: bold;">اضحك كركر</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/caricature-gallery">معرض الكاريكاتير</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/artists">الفنانون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/authors">المؤلفون</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/characters">الشخصيات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/blog">المدونة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact-us">تواصل معنا</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">انشاء حساب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">تسجيل الدخول</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
