<div class="container my-3">
    <h1>Authors List</h1>
</div>
<div class="container my-3">
    <div class="row my-3">
        <div class="col-lg-3 col-md-6  mb-4" *ngFor="let author of authors">
            <div class="card h-100">
                <div class="favorite-button" [class.favorite]="author.favorite" (click)="toggleFavorite(author)">
                    <div class="heart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path
                                d="M12 21.35l-1.45-1.32C4.99 14.79 2 11.58 2 8.5c0-2.8 2.2-5 5-5 1.93 0 3.63.89 5 2.25 1.37-1.36 3.07-2.25 5-2.25 2.8 0 5 2.2 5 5 0 3.08-2.99 6.29-8.55 11.53L12 21.35z" />
                        </svg>
                    </div>
                </div>
                <img src="{{author.image}}" class="card-img-top" alt="{{author.name}} image">
                <div class="card-body">
                    <h5 class="card-title">{{author.name}}</h5>
                    <p class="card-text">{{author.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div>