<!-- <div class="character-container">
  <div class="character-header">
    <h2>الشخصيات</h2>
  </div>
  <div class="character-list">
    <div class="character-card" *ngFor="let character of characters">
      <img [src]="character.image" alt="{{ character.name }}" class="character-image">
      <div class="character-details">
        <h4>{{ character.name }}</h4>
        <p>تم إنشاؤه بواسطة: {{ character.author }}</p>
        <p>تم رسمه بواسطة: {{ character.artist }}</p>
      </div>
    </div>
  </div>
</div> -->


<!--
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="character-container">
        <div class="character-header">
          <h2>الشخصيات</h2>
        </div>
        <div class="character-list">
          <div class="character-card" *ngFor="let character of characters">
            <img [src]="character.image" alt="{{ character.name }}" class="character-image">
            <div class="character-details">
              <h4>{{ character.name }}</h4>
              <p>تم إنشاؤه بواسطة: {{ character.author }}</p>
              <p>تم رسمه بواسطة: {{ character.artist }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="container character-container">
  <div class="row">
    <div class="col-12 character-header">
      <h2>الشخصيات</h2>
    </div>
  </div>
  <div class="row character-list">
    <div class="col-md-6 col-lg-4 character-card" *ngFor="let character of characters">
      <img [src]="character.image" alt="{{ character.name }}" class="character-image">
            <h4 class="text-center">{{ character.name }}</h4>

      <div class="character-details">
        <p>تم إنشاؤه بواسطة: {{ character.author }}</p>
        <p>تم رسمه بواسطة: {{ character.artist }}</p>
      </div>

    </div>
  </div>
</div> -->


<!-- <div class="container character-container">
  <div class="row">
    <div class="col-12 character-header">
      <h2>الشخصيات</h2>
    </div>
  </div>
  <div class="row character-list">
    <div class="col-sm-6 col-md-4 col-lg-3 character-card" *ngFor="let character of characters">
      <div class="card">
        <img [src]="character.image" alt="{{ character.name }}" class="card-img-top character-image">
        <div class="card-body character-details">
          <h5 class="card-title">{{ character.name }}</h5>
          <p class="card-text">تم إنشاؤه بواسطة: {{ character.author }}</p>
          <p class="card-text">تم رسمه بواسطة: {{ character.artist }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container character-container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="character-header">الشخصيات</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 character-card" *ngFor="let character of characters">
      <div class="card shadow rounded-3 border-0">
        <img [src]="character.image" alt="{{ character.name }}" class="card-img-top character-image">
        <div class="card-body character-details">
          <h4 class="card-title text-center">{{ character.name }}</h4>
          <p class="card-text">تم إنشاؤه بواسطة: {{ character.author }}</p>
          <p class="card-text">تم رسمه بواسطة: {{ character.artist }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
