<div class="card-deck">
  <div class="card col-lg-12 px-0 mb-4">
    <div class="card-body">
      <h5 class="card-title">Character</h5>
      <div class="table-responsive">
        <table class="table center-aligned-table">
          <thead>
            <tr class="text-primary">
              <th>ID</th>
              <th>Name</th>
              <th>Image</th>
              <th>Author</th>
              <th>Artist</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let character of characters" [class.editing]="character === selectedCharacter">
              <td>{{ character._id }}</td>
              <td>
                <ng-container *ngIf="character !== selectedCharacter; else editName">
                  {{ character.name }}
                </ng-container>
                <ng-template #editName>
                  <input [(ngModel)]="character.name" class="form-control">
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="character !== selectedCharacter; else editImage">
                  <img style="width: 100px; height: 100px" [src]="character.image">
                </ng-container>
                <ng-template #editImage>
                  <input [(ngModel)]="character.image" class="form-control">
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="character !== selectedCharacter; else editAuthor">
                  {{ character.author._id }}
                </ng-container>
                <ng-template #editAuthor>
                  <input [(ngModel)]="character.author._id" class="form-control">
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="character !== selectedCharacter; else editArtist">
                  {{ character.artist._id }}
                </ng-container>
                <ng-template #editArtist>
                  <input [(ngModel)]="character.artist._id" class="form-control">
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="character !== selectedCharacter">
                  <button class="btn btn-primary btn-sm w-50%" (click)="selectCharacter(character)">Edit</button>
                </ng-container>
                <ng-container *ngIf="character === selectedCharacter">
                  <button class="btn btn-success btn-sm w-50%" (click)="updateCharacter()">Save</button>
                  <button class="btn btn-secondary btn-sm w-50%" (click)="selectedCharacter = null">Cancel</button>
                </ng-container>
              </td>
              <td>
                <button class="btn btn-danger btn-sm w-50%" (click)="deleteCharacter()">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="card col-lg-12 px-0 mb-4">
  <div class="card-body">
    <h5 class="card-title">Create New Character</h5>
    <form (submit)="createCharacter()">
      <div class="form-group">
        <label for="newCharacterName">Name</label>
        <input id="newCharacterName" [(ngModel)]="newCharacter.name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="newCharacterImage">Image</label>
        <input id="newCharacterImage" [(ngModel)]="newCharacter.image" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="newCharacterAuthor">Author</label>
        <input id="newCharacterAuthor" [(ngModel)]="newCharacter.author._id" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="newCharacterArtist">Artist</label>
        <input id="newCharacterArtist" [(ngModel)]="newCharacter.artist._id" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
