<div class="card-deck">
  <div class="card col-lg-12 px-0 mb-4">
    <div class="card-body">
      <h5 class="card-title">Artist</h5>
      <div class="table-responsive">
        <table class="table center-aligned-table">
          <thead>
            <tr class="text-primary">
              <th>ID</th>
              <th>Name</th>
              <th>Image</th>
              <th>BirthDate</th>
              <th>Bio</th>
              <th>Favourite</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let artist of artists">
              <tr class="" [ngClass]="{ 'editing': artist._id === editedArtist?._id }">
                <td>{{ artist._id }}</td>
                <td>
                  <ng-container *ngIf="artist._id !== editedArtist?._id; else editName">
                    {{ artist.name }}
                  </ng-container>
                  <ng-template #editName>
                    <input [(ngModel)]="editedArtist.name" class="form-control">
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="artist._id !== editedArtist?._id; else editImage">
                    <img style="width: 100px;height:100px" [src]="artist.image">
                  </ng-container>
                  <ng-template #editImage>
                    <input [(ngModel)]="editedArtist.image" class="form-control">
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="artist._id !== editedArtist?._id; else editBirthDate">
                    {{ artist.birthDate | date: 'yyyy-MM-dd' }}
                  </ng-container>
                  <ng-template #editBirthDate>
                    <input [(ngModel)]="editedArtist.birthDate" class="form-control">
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="artist._id !== editedArtist?._id; else editBio">
                    {{ artist.bio }}
                  </ng-container>
                  <ng-template #editBio>
                    <textarea [(ngModel)]="editedArtist.bio" class="form-control"></textarea>
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="artist._id !== editedArtist?._id; else editFavourite">
                    {{ artist.favourite ? 'Yes' : 'No' }}
                  </ng-container>
                  <ng-template #editFavourite>
                    <input [(ngModel)]="editedArtist.favourite" type="checkbox">
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="artist._id !== editedArtist?._id">
                    <button class="btn btn-primary btn-sm w-50%" (click)="startEditing(artist)">Edit</button>
                  </ng-container>
                  <ng-container *ngIf="artist._id === editedArtist?._id">
                    <button class="btn btn-success btn-sm w-50%" (click)="saveArtistChanges()">Save</button>
                    <button class="btn btn-secondary btn-sm w-50%" (click)="cancelEditing()">Cancel</button>
                  </ng-container>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm w-50%" (click)="deleteArtist(artist)">Delete</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
