<div class="card-deck">
  <div class="card col-lg-12 px-0 mb-4">
    <div class="card-body">
      <h5 class="card-title">Character</h5>
      <!-- Add Character Modal  -->
      <div class="modal" [ngClass]="{ 'd-block': displayAddCharacterModal }">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Caricature</h5>
              <button
                type="button"
                class="close"
                (click)="closeAddCaricatureModal()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Add Character form  -->
              <form
                (submit)="addCaricature(addCaricatureForm)"
                #addCaricatureForm="ngForm"
              >
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="description"
                    [(ngModel)]="newCaricature.description"
                    name="description"
                    required
                  ></textarea>
                  <div
                    *ngIf="
                      addCaricatureForm.controls['description']?.invalid &&
                      addCaricatureForm.controls['description']?.touched
                    "
                    class="text-danger"
                  >
                    Description is required.
                  </div>
                </div>
                <div class="form-group">
                  <label for="image">Image</label>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    (change)="onImageSelected($event)"
                    accept="image/*"
                    required
                  />
                  <div
                    *ngIf="
                      addCaricatureForm.controls['image']?.invalid &&
                      addCaricatureForm.controls['image']?.touched
                    "
                    class="text-danger"
                  >
                    Image is required.
                  </div>
                </div>
                <div class="form-group">
                  <label for="authorname">Author Name</label>
                  <select
                    class="form-control"
                    id="authorname"
                    [(ngModel)]="newCaricature.authorName._id"
                    name="authorname"
                    required
                  >
                    <option *ngFor="let author of authors" [value]="author._id">
                      {{ author?.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      addCaricatureForm.controls['authorname']?.invalid &&
                      addCaricatureForm.controls['authorname']?.touched
                    "
                    class="text-danger"
                  >
                    Author Name is required.
                  </div>
                </div>
                <div class="form-group">
                  <label for="artistname">Artist Name</label>
                  <select
                    class="form-control"
                    id="artistname"
                    [(ngModel)]="newCaricature.artistName._id"
                    name="artistname"
                    required
                  >
                    <option *ngFor="let artist of artists" [value]="artist._id">
                      {{ artist?.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      addCaricatureForm.controls['artistname']?.invalid &&
                      addCaricatureForm.controls['artistname']?.touched
                    "
                    class="text-danger"
                  >
                    artist is required.
                  </div>
                </div>
                <div class="form-group">
                  <label for="charactername">Artist Name</label>
                  <select
                    class="form-control"
                    id="charactername"
                    [(ngModel)]="newCaricature.characterName._id"
                    name="charactername"
                    required
                  >
                    <option
                      *ngFor="let character of characters"
                      [value]="character._id"
                    >
                      {{ character?.name }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      addCaricatureForm.controls['charactername']?.invalid &&
                      addCaricatureForm.controls['charactername']?.touched
                    "
                    class="text-danger"
                  >
                    Character Name is required.
                  </div>
                  <div class="form-group">
                    <label for="favourite">Favourite</label>
                    <input
                      type="checkbox"
                      id="favourite"
                      [(ngModel)]="newCaricature.favourite"
                      name="favourite"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="closeAddCaricatureModal()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Edit Character Modal  -->
      <div class="modal" [ngClass]="{ 'd-block': displayEditModal }">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Character</h5>
              <button type="button" class="close" (click)="closeEditModal()">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="editDescription">Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="editDescription"
                    name="editDescription"
                    [(ngModel)]="editedCaricature.description"
                    required
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="editImage">Image</label>
                  <input type="file" (change)="onImageSelected($event)" />
                </div>
                <div class="form-group">
                  <label for="editauthorname">Author Name</label>
                  <select
                    class="form-control"
                    id="editauthorname"
                    [(ngModel)]="editedCaricature.authorName._id"
                    name="editauthorname"
                  >
                    <option *ngFor="let author of authors" [value]="author._id">
                      {{ author?.name }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="editartistname">Artist Name</label>
                  <select
                    class="form-control"
                    id="editartistname"
                    [(ngModel)]="editedCaricature.artistName._id"
                    name="editartistname"
                  >
                    <option *ngFor="let artist of artists" [value]="artist._id">
                      {{ artist?.name }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="editcharactername">Character Name</label>
                  <select
                    class="form-control"
                    id="editcharactername"
                    [(ngModel)]="editedCaricature.characterName._id"
                    name="editcharactername"
                  >
                    <option
                      *ngFor="let character of characters"
                      [value]="character._id"
                    >
                      {{ character?.name }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="favourite">Favourite</label>
                  <input
                    type="checkbox"
                    id="favourite"
                    [(ngModel)]="editedCaricature.favourite"
                    name="favourite"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="saveCharacterChanges()"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancelEditing()"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <div class="text-left my-3">
          <button class="btn btn-primary" (click)="openAddCaricatureModal()">
            Add Caricature
          </button>
        </div>
        <table class="table">
          <thead>
            <tr class="text-primary">
              <th>ID</th>
              <th>Description</th>
              <th>Image</th>
              <th>Author Name</th>
              <th>artist Name</th>
              <th>character Name</th>
              <th>Favourite</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let caricature of caricatures">
              <td>{{ caricature._id }}</td>
              <td>{{ caricature?.description }}</td>
              <td>
                <img
                  style="width: 100px; height: 100px"
                  [src]="caricature.image"
                />
              </td>
              <td>{{ caricature.authorName?.name }}</td>
              <td>{{ caricature.artistName?.name }}</td>
              <td>{{ caricature.characterName?.name }}</td>
              <td>{{ caricature.favourite ? "Yes" : "No" }}</td>

              <td>
                <button
                  class="btn btn-primary btn-sm w-50%"
                  (click)="startEditing(caricature)"
                >
                  Edit
                </button>
              </td>
              <td>
                <button
                  class="btn btn-danger btn-sm w-50%"
                  (click)="deleteCaricature(caricature._id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
