<!-- <div class="container my-3">
    <h1>Caricature Gellary</h1>
</div>
<div class="container my-3">
    <div class="row my-3">
        <div class="col-lg-3 col-md-6  mb-4" *ngFor="let caricature of caricatures">
            <div class="card h-100">
                <div class="favorite-button" [class.favorite]="caricature.favorite"
                    (click)="toggleFavorite(caricature)">
                    <div class="heart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path
                                d="M12 21.35l-1.45-1.32C4.99 14.79 2 11.58 2 8.5c0-2.8 2.2-5 5-5 1.93 0 3.63.89 5 2.25 1.37-1.36 3.07-2.25 5-2.25 2.8 0 5 2.2 5 5 0 3.08-2.99 6.29-8.55 11.53L12 21.35z" />
                        </svg>
                    </div>
                </div>
                <img src="{{caricature.image}}" class="card-img-top" alt="{{caricature.name}} image">
                <div class="card-body">
                    <h5 class="card-title">{{caricature.name}}</h5>
                    <p class="card-text">{{caricature.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="container my-3">
    <h1 class="text-center text-white mb-5 display-4 font-weight-bold animate__animated animate__bounceIn">Caricature Gallery</h1>
</div>
<div class="container my-3">
    <div class="row my-3">
        <div class="col-lg-3 col-md-6 mb-4 animate__animated animate__zoomIn" *ngFor="let caricature of caricatures">
            <div class="card h-100 border-0">
                <div class="favorite-button" [class.favorite]="caricature.favorite"
                    (click)="toggleFavorite(caricature)">
                    <div class="heart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path
                                d="M12 21.35l-1.45-1.32C4.99 14.79 2 11.58 2 8.5c0-2.8 2.2-5 5-5 1.93 0 3.63.89 5 2.25 1.37-1.36 3.07-2.25 5-2.25 2.8 0 5 2.2 5 5 0 3.08-2.99 6.29-8.55 11.53L12 21.35z" />
                        </svg>
                    </div>
                </div>
                <img src="{{caricature.image}}" class="card-img-top" alt="{{caricature.name}} image">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold mb-3">{{caricature.name}}</h5>
                    <p class="card-text">{{caricature.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->





<div class="container my-3">
    <h1 class="text-center display-4">Caricature Gallery</h1>
  </div>
  
  <div class="container my-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <div class="col mb-4" *ngFor="let caricature of caricatures">
        <div class="card h-100 border-0">
          <div class="image-wrapper position-relative">
            <div class="favorite-button position-absolute top-0 end-0" [class.favorite]="caricature.favorite"
              (click)="toggleFavorite(caricature)">
              <div class="heart">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="none" d="M0 0h24v24H0V0z" />
                  <path
                    d="M12 21.35l-1.45-1.32C4.99 14.79 2 11.58 2 8.5c0-2.8 2.2-5 5-5 1.93 0 3.63.89 5 2.25 1.37-1.36 3.07-2.25 5-2.25 2.8 0 5 2.2 5 5 0 3.08-2.99 6.29-8.55 11.53L12 21.35z" />
                </svg>
              </div>
            </div>
            <img src="{{caricature.image}}" class="card-img-top" alt="{{caricature.name}} image">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{caricature.name}}</h5>
            <p class="card-text">{{caricature.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  