<!-- <footer class="footer bg-dark text-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p>© 2023 All Rights Reserved</p>
        </div>
        <div class="col-md-6">
          <p class="text-md-right mb-0">Current time: {{currentTime}}</p>
        </div>
      </div>
    </div>
  </footer>
   -->

   <footer class="footer bg-light mt-auto py-3" dir="rtl">
    <div class="container text-center">
      <span>حقوق النشر &copy; {{ currentYear }} الكاريكاتير</span>
    </div>
  </footer>
  