<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to Our Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus ex sit amet magna porta ultrices.</p>
        <p>Proin id purus rhoncus, ullamcorper lorem quis, lacinia enim. Vestibulum vel nulla euismod, iaculis tellus vitae, faucibus tortor. Nulla eu sem nec lectus egestas consectetur non non odio.</p>
        <button class="btn btn-primary">Learn More</button>
      </div>
      <div class="col-lg-4">
        <img src="https://via.placeholder.com/350x350" class="img-fluid">
      </div>
    </div>
  </div>
  
  