<!-- <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to Our Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus ex sit amet magna porta ultrices.</p>
        <p>Proin id purus rhoncus, ullamcorper lorem quis, lacinia enim. Vestibulum vel nulla euismod, iaculis tellus vitae, faucibus tortor. Nulla eu sem nec lectus egestas consectetur non non odio.</p>
        <button class="btn btn-primary">Learn More</button>
      </div>
      <div class="col-lg-4">
        <img src="https://via.placeholder.com/350x350" class="img-fluid">
      </div>
    </div>
  </div>
   -->
  
  <!-- home.component.html -->

<!-- <div class="home-container">
  <h1 class="home-title">Welcome to My Caricature Website</h1>
  <p class="home-text">Browse through our collection of fun caricatures!</p>
  <a class="home-btn" routerLink="/caricature-gallery">View Gallery</a>
</div> -->

<div class="container">
  <div class="home-container">
    <h1 class="home-title">مرحباً بك في موقع الكاريكاتور الخاص بي</h1>
    <p class="home-text">تصفح مجموعتنا الممتعة من الكاريكاتورات!</p>
    <a class="home-btn" routerLink="/caricature-gallery">عرض المعرض</a>
  </div>
</div>