<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <nav class="nav flex-column">
                <a class="nav-link active" routerLink="/admin-dashboard/dashboard">Dashboard</a>
                <a class="nav-link" routerLink="/admin-dashboard/users">Users</a>
                <a class="nav-link" routerLink="/admin-dashboard/artists">Artists</a>
                <a class="nav-link" routerLink="/admin-dashboard/authors">Authors</a>
                <a class="nav-link" routerLink="/admin-dashboard/characters">Characters</a>
                <a class="nav-link" routerLink="/admin-dashboard/caricatures">Caricatures</a>
                <a class="nav-link" routerLink="/admin-dashboard/comments">Comments</a>
            </nav>
        </div>
        <div class="col-sm-9 col-md-10 main">
            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
</div>