<!-- <p>artist-list works!</p>
<div data-logger-id="2a44b0190a4f1a32b09e16438972393e"
    data-appears-batch-options='{"key":"64488c26577d2","size":2,"total_items":40}' class='wt-height-full'>
    <div class="js-merch-stash-check-listing v2-listing-card
      wt-mr-xs-0
      mobile-market-listing-card
      listing-card-experimental-style" data-palette-listing-id="1308422198" data-shop-id="38129540"
        data-listing-id="1308422198" data-page-type="market" data-behat-listing-card data-listing-card-v2>
        <a class="listing-link wt-display-inline-block
         " data-listing-id="1308422198" data-palette-listing-image
            href="https://www.etsy.com/listing/1308422198/get-your-own-superhero-portrait-from?click_key=6da6797592d511490847223c84a01aae1fc1b041%3A1308422198&click_sum=c8fc5fca&ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=caricature+artists&ref=sr_gallery-1-34&pro=1&sts=1"
            title="Get Your Own Superhero Portrait From Your Photo , caricature from photo , caricature portrait , caricature drawing">
            <div class="v2-listing-card__img wt-position-relative
            ">
                <div class="placeholder placeholder-square  wt-position-relative
               ">
                    <div class="placeholder-content placeholder placeholder-square vertically-centered-placeholder
                  " style="background-color: #AE1B20;">
                        <div class="height-placeholder">
                            <img data-listing-card-listing-image class="wt-width-full wt-height-full wt-display-block wt-position-absolute
                        sr_gallery-1-34"
                                alt="Get Your Own Superhero Portrait From Your Photo , caricature from photo , caricature portrait , caricature drawing"
                                src="https://i.etsystatic.com/38129540/c/2000/1589/0/8/il/1ea057/4238421288/il_340x270.4238421288_j69v.jpg"
                                srcset="https://i.etsystatic.com/38129540/c/2000/2000/0/0/il/1ea057/4238421288/il_300x300.4238421288_j69v.jpg 1x,https://i.etsystatic.com/38129540/c/2000/2000/0/0/il/1ea057/4238421288/il_300x300.4238421288_j69v.jpg 2x,https://i.etsystatic.com/38129540/c/2000/2000/0/0/il/1ea057/4238421288/il_600x600.4238421288_j69v.jpg 3x"
                                loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="v2-listing-card__info
            ">
                <h2 class="wt-text-caption v2-listing-card__title
               wt-text-truncate
               ">
                    Get Your Own Superhero Portrait From Your Photo , caricature from photo
                    , caricature portrait , caricature drawing
                </h2>
                <span class="
               wt-position-top wt-line-height-tight wt-nudge-t-2 wt-display-block
               wt-nudge-t-1
               ">
                    <span class="wt-display-inline-block set-review-stars-line-height-to-zero wt-nudge-t-2">
                        <input type="hidden" name="initial-rating" value="5" />
                        <input type="hidden" name="rating" value="5" />
                        <div class="sprite-img black-stars star-rating-5 stars-smaller" aria-label="5 out of 5 stars">
                        </div>
                    </span>
                    <span class="
                  wt-text-body-01
                  wt-text-gray wt-display-inline-block
                  ">
                        (22)
                    </span>
                </span>
                <div class="n-listing-card__price  wt-display-block
               wt-text-title-01 lc-price
               ">
                    <p class="wt-text-title-01 lc-price ">
                        <span class="wt-screen-reader-only">
                            Sale Price USD 22.25
                        </span>
                        <span aria-hidden="true">
                            <span class='currency-symbol'>USD </span><span class='currency-value'>22.25</span>
                        </span>
                    <p class="wt-text-caption search-collage-promotion-price wt-text-slime
                  wt-text-truncate wt-no-wrap">
                        <span class="wt-text-strikethrough " aria-hidden="true"><span class='currency-symbol'>USD
                            </span><span class='currency-value'>25.00</span></span>
                        <span class="wt-screen-reader-only">
                            Original Price USD 25.00
                        </span>
                        <span>
                            (11% off)
                        </span>
                    </p>
                </div>
            </div>
        </a>
        <div data-favorite-button-wrapper class="v2-listing-card__actions wt-z-index-1 wt-position-absolute ">
            <form method="submit" action="/signin/router" class="wt-text-center-xs">
                <input type="hidden" name="from_page" value="/market/caricature_artists" />
                <input type="hidden" name="from_action" value="favorite-item" />
                <input type="hidden" name="workflow"
                    value="ZmF2b3JpdGVfbGlzdGluZ19pZDoxMzA4NDIyMTk4OjE2ODI0NzY2Njk6ODRkY2FjM2RhZTZiN2JhZDE5YmUyNTIwODM5OGJjMzY=" />
                <button type="submit"
                    class="inline-overlay-trigger favorite-item-action wt-position-absolute wt-btn wt-btn--light wt-btn--icon wt-btn--fixed-floating wt-btn--small wt-z-index-2 wt-btn--filled wt-btn--icon neu-default-favorite wt-position-right wt-position-top neu-default-mobile-background neu-default-button-position mobile-tap-target "
                    data-ui="favorite-listing-button" data-listing-id="1308422198" data-accessible-btn-fave
                    data-favorite-label="Add to Favorites" data-favorited-label="Remove from Favorites">
                    <span class="wt-screen-reader-only">
                        Add to Favorites
                    </span>
                    <div data-source="market" data-btn-fave data-neu-fave>
                        <span class="etsy-icon wt-display-block wt-nudge-t-2 wt-icon--smaller-xs">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
                                focusable="false">
                                <path
                                    d="M12,21C10.349,21,2,14.688,2,9,2,5.579,4.364,3,7.5,3A6.912,6.912,0,0,1,12,5.051,6.953,6.953,0,0,1,16.5,3C19.636,3,22,5.579,22,9,22,14.688,13.651,21,12,21ZM7.5,5C5.472,5,4,6.683,4,9c0,4.108,6.432,9.325,8,10,1.564-.657,8-5.832,8-10,0-2.317-1.472-4-3.5-4-1.979,0-3.7,2.105-3.721,2.127L11.991,8.1,11.216,7.12C11.186,7.083,9.5,5,7.5,5Z" />
                            </svg>
                        </span>
                    </div>
                </button>
            </form>
        </div>
    </div>
</div> -->


<!-- <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let artist of artists" data-aos="fade-up" data-aos-duration="1000">
        <div class="card h-100">
          <img src="{{artist.image}}" class="card-img-top" alt="{{artist.name}} image">
          <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            <p class="card-text">{{artist.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->


<!--
  <div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let artist of artists">
      <div class="card h-100">
        <div class="card-img-overlay p-0">
          <button class="btn btn-link favorite-btn"><i class="fa fa-heart"></i></button>
        </div>
        <img src="{{artist.image}}" class="card-img-top" alt="{{artist.name}} image">
        <div class="card-body">
          <h5 class="card-title">{{artist.name}}</h5>
          <p class="card-text">{{artist.bio}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let artist of artists">
        <div class="card h-100">
          <div class="favorite-icon" (click)="toggleFavorite(artist.name)">
            <i class="bi bi-heart{{ isFavorite(artist.name) ? '-fill' : '' }}"></i>
          </div>
          <img src="{{artist.image}}" class="card-img-top" alt="{{artist.name}} image">
          <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            <p class="card-text">{{artist.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->


<!-- /////////////////// -->
<!-- <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let artist of artists">
        <div class="card h-100">
          <div class="favorite-icon"><i class="fas fa-heart" [class.favorite]="artist.favorite" (click)="toggleFavorite(artist)"></i></div>
          <img src="{{artist.image}}" class="card-img-top" alt="{{artist.name}} image">
          <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            <p class="card-text">{{artist.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- ///////////// -->

<!--
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let artist of artists">
        <div class="card h-100">
          <div class="favorite-button" [class.favorite]="artist.favorite" (click)="toggleFavorite(artist)">
            <i class="fas fa-heart"></i>
          </div>
          <img src="{{artist.image}}" class="card-img-top" alt="{{artist.name}} image">
          <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            <p class="card-text">{{artist.bio}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="container my-3">
    <h1>Artists List</h1>
</div>
<div class="container my-3">
    <div class="row my-3">
        <div class="col-lg-3 col-md-6  mb-4" *ngFor="let artist of artists">
            <div class="card h-100">
                <div class="favorite-button" [class.favorite]="artist.favorite" (click)="toggleFavorite(artist)">
                    <div class="heart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path
                                d="M12 21.35l-1.45-1.32C4.99 14.79 2 11.58 2 8.5c0-2.8 2.2-5 5-5 1.93 0 3.63.89 5 2.25 1.37-1.36 3.07-2.25 5-2.25 2.8 0 5 2.2 5 5 0 3.08-2.99 6.29-8.55 11.53L12 21.35z" />
                        </svg>
                    </div>
                </div>
                <img src="{{artist.image}}" class="card-img-top" alt="{{artist.name}} image">
                <div class="card-body">
                    <h5 class="card-title">{{artist.name}}</h5>
                    <p class="card-text">{{artist.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="container-xxl py-5">
  <div class="container mt-5">
      <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">

        <section  id="breadcrumbs" style="background-color:white ;" class="breadcrumbs">
          <div class="container mt-5">
            <div class="d-flex justify-content-center align-items-center">
              <h1 style="color:#3a95e4;font-weight: bold; font-size: 50px;">الفنانون</h1>
            </div>

          </div>
        </section><!-- End Breadcrumbs -->
      </div>
      <div class="row gy-5 gx-4">
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item">
                  <img class="img-fluid" src="../../../../assets/characters/1.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="../../../../assets/characters/1.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Civil & Gas Engineering</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                              lorem sed diam stet diam sed stet.</p>
                      </div>
                  </div>
                  <a class="btn btn-primary" href="">Read More</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item">
                  <img class="img-fluid"src="../../../../assets/characters/1.jpg"alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="../../../../assets/characters/1.jpg"alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Power & Energy Engineering</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                              lorem sed diam stet diam sed stet.</p>
                      </div>
                  </div>
                  <a class="btn btn-primary" href="">Read More</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item">
                  <img class="img-fluid" src="../../../../assets/characters/1.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="../../../../assets/characters/1.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Plumbing & Water Treatment</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos
                              lorem sed diam stet diam sed stet.</p>
                      </div>
                  </div>
                  <a class="btn btn-primary" href="">Read More</a>
              </div>
          </div>
      </div>
  </div>
</div>
