<!-- <h1>Comment Management</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Caricature</th>
                <th>User</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of comments">
                <td>{{ comment.id }}</td>
                <td>{{ comment.caricature }}</td>
                <td>{{ comment.user }}</td>
                <td>{{ comment.comment }}</td>
                <td><button class="btn btn-danger" (click)="deleteComment(comment.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div> -->